/.bsp/
/project/
/target/
/.idea/libraries/*
/.idea/*
/src/test/resources/appication.conf
/src/test/resources/app.conf
/src/test/resources/secret*.conf
/src/test/resources/dt*.conf
/src/test/resources/secret_ecdr.conf
